---
http_interactions:
- request:
    method: get
    uri: https://developer.nrel.gov/api/alt-fuel-stations/v1.json?api_key=oUOX4JepjUdKyvLyWlSKppYHou2cwBvGwVgxpRyr&distance=6%20miles&fuel_type_code=ELEC.LPG&zip=80203
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 06 Jun 2016 15:51:25 GMT
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '981'
    body:
      encoding: ASCII-8BIT
      string: '{"station_locator_url":"http://www.afdc.energy.gov/afdc/locator/stations/","total_results":2,"station_counts":{"total":5,"fuels":{"E85":{"total":0},"ELEC":{"total":4,"stations":{"total":1}},"HY":{"total":0},"LNG":{"total":0},"BD":{"total":0},"CNG":{"total":1},"LPG":{"total":0}}},"fuel_stations":[{"access_days_time":"24
        hours daily; call 866-809-4869 for required Clean Energy card","cards_accepted":"CleanEnergy","date_last_confirmed":"2015-03-04","expected_date":null,"fuel_type_code":"CNG","id":635,"groups_with_access_code":"Public
        - Card key at all times","open_date":"1996-12-15","owner_type_code":"P","status_code":"E","station_name":"Clean
        Energy - Valero #4086","station_phone":"866-809-4869","updated_at":"2016-01-13T17:53:35Z","geocode_status":"GPS","latitude":39.732303,"longitude":-104.987795,"city":"Denver","intersection_directions":"I-25,
        exit onto Speer Blvd S, left on Colfax Ave, right on Broadway","plus4":null,"state":"CO","street_address":"1001
        Broadway St","zip":"80203","bd_blends":null,"e85_blender_pump":null,"ev_connector_types":null,"ev_dc_fast_num":null,"ev_level1_evse_num":null,"ev_level2_evse_num":null,"ev_network":null,"ev_network_web":null,"ev_other_evse":null,"hy_status_link":null,"lpg_primary":null,"ng_fill_type_code":"Q","ng_psi":"3000
        3600","ng_vehicle_class":"MD"},{"access_days_time":"24 hours daily","cards_accepted":null,"date_last_confirmed":"2016-06-06","expected_date":null,"fuel_type_code":"ELEC","id":62140,"groups_with_access_code":"Public","open_date":null,"owner_type_code":null,"status_code":"E","station_name":"CADACHARGEPOINT","station_phone":"888-758-4389","updated_at":"2016-06-06T08:24:12Z","geocode_status":"200-9","latitude":39.7232935,"longitude":-104.9841662,"city":"Denver","intersection_directions":"CADA
        FRONT 1\nCADA CARPORT 1","plus4":null,"state":"CO","street_address":"290 E
        Speer Blvd","zip":"80203","bd_blends":null,"e85_blender_pump":null,"ev_connector_types":["J1772"],"ev_dc_fast_num":null,"ev_level1_evse_num":null,"ev_level2_evse_num":4,"ev_network":"ChargePoint
        Network","ev_network_web":"http://www.mychargepoint.net/","ev_other_evse":null,"hy_status_link":null,"lpg_primary":null,"ng_fill_type_code":null,"ng_psi":null,"ng_vehicle_class":null,"ev_network_ids":{"posts":["1:100547","1:102063"]}}]}'
  recorded_at: Mon, 06 Jun 2016 15:52:40 GMT
[...]
